/* RESET  css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Clearfix -mannaggia al demonio mannaggia, e io che me pensavo de fa tutto co' flex */
.clarfix::after {
    clear: both;
    display: table;
    content: "";
}
html {
    font-family: 'Lato', sans-serif;;
}
img {
    width: 100%;
    border-radius: inherit;
}
.circ-box {
    height: 2.2rem;
    width: 2.2rem;
    max-width: 7vh;
    max-height: 7vh;
    border-radius: 100%;
    background-color: white;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2.2rem;

}
body {
    background-color: #009687;
}
#root {
    background-color: #eaeaea;
    margin: 5vh auto;
    width: 90%;
    height: 90vh;
    display: flex;
}
.left-col {
    width: 30%;
    height: 100%;
    border-right: 1px solid #b1b1b1;
}
.right-col {
    width: 70%;
    height: 100%;
}

/* parte sopra delle due colonne */
/* il bgc è lo stesso di #root  */
.header, .chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;

}
.header {
    height: 8%;
}
.header>div, .bell, .search-form, .chat>div{
    display: flex;
    align-items: center;
}
.header>div>div, .bell>div, .chat>div>div {
    margin-right: 1rem;

}
.settings i {
    color: #b1b1b1;
    font-size: 1.2rem;
    cursor: pointer;
}
.settings div:hover i {
    color: #009687;
}
.lastMessage, .actNotif {
    color: #b1b1b1;
    font-size: 0.9rem;

}
.actNotif {
    text-decoration: underline;
}
/* colonna di sinistra */
/* notifica celeste  */
.bell {
    height: 13%;
    background-color: #8edafc;
    padding: 1.4rem;
}
.bell i {
    color: #8edafc;
}
/* Form cerca chat */
.search-form {
    height: 7%;
    padding: 0 1rem;
    background-color: #fafafa;
    
}
.search-form div {
    width: 100%;    
    display: flex;
}
.search-form label {
    width: 3rem;
    height: 2rem;
    line-height: 2rem;
    background-color: white;
    text-align: center;
    margin-right: 1px;
}
.search-form input {
    flex-grow: 1;
    height: 2rem;
    font-size: 1.1rem;
    padding: 0 0.3rem;
}
.search-form input, .search-form input:focus {
    outline: none;
    border: none;
}
.chats {
    overflow-y: scroll;
    height: 72%;
    max-height: 72%;
}
.chat {
    background-color: white;
    cursor: pointer;
    height: 4.8rem;
    justify-content: baseline;
}
.active, .chat:hover {
    background-color: #e9ebeb;
}
.date-last {
    font-size: 0.7rem;
    align-self: flex-start;
    color: #b1b1b1;
}

/* Fine colonna sinistra  */
/* Colonna destra  */
.dialog {
    height: 80%;
    max-height: 80%;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.balloon {
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin: 2px 0;
    width: auto;
    max-width: 65%;
    

    position: relative;
    /* display: flex; */

    

}
.sent {
    background-color: #d5f9ba;
    
    align-self: flex-end;

}
.received {
    background-color: white;
    
    align-self: flex-start;
}
.sent.first-m { 
    border-top-right-radius: 0;
}
.received.first-m {
    border-top-left-radius: 0;
}
/* angoletto nel messaggio  */
.received.first-m::after {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent white transparent transparent ;
    
}
.sent.first-m::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 10px 10px 0 0;
    border-color: #d5f9ba transparent transparent transparent ;
    
}
.balloon .message {
    /* margin-right: 3rem; */
    /* float: left; */
    /* width: 80%; */
    height: 100%;

    

}
.balloon .date-last {
    margin-left: 3rem;
    float: right;
    display: flex;
    position: relative;
    align-items: flex-end;
    top: 7px;
    left: 7px;  
    
}
